---
import Container from "../../components/Container.astro";
import Hero from "../../components/Hero.astro";
import PageLayout from "../../layouts/PageLayout.astro";
---
<PageLayout>
<Hero title="ðŸ“ Collections" subtitle="Rabit holes of thought..."/>
<Container>
<div>hello collectoins!</div>
</Container>
</PageLayout>
