---
import CollectionPreview from "../../components/CollectionPreview.astro";
import Container from "../../components/Container.astro";
import Hero from "../../components/Hero.astro";
import PageLayout from "../../layouts/PageLayout.astro";

let allCollections = await Astro.glob('./*.md');
---
<PageLayout>
<Hero title="ðŸ“ Collections" subtitle="Rabit holes of thought..."/>
<Container>
<div class="py-3"></div>
<div class="grid gap-6 grid-cols-1 md:grid-cols-2">
  {allCollections.map(p=><CollectionPreview post={p}/>)}
</div>
</Container>
</PageLayout>
