---
// Component Imports
import AuthorCard from "../components/AuthorCard.astro";
import SiteLayout from "../layouts/index.astro";
import BlogPostList from "../components/BlogPostList.astro";

let allPosts = await Astro.glob('./posts/*.md');
// will this commit be signed?
---
<SiteLayout>
	<AuthorCard/>
	<div class="py-3"></div>
	<BlogPostList posts={allPosts} showTag={true}/>
</SiteLayout>

