---
import { Picture } from "astro-imagetools/components";
import RoleButton from "./RoleButton.astro";

---

<div class="flex flex-col sm:flex-row justify-between sm:items-center items-start  mx-auto my-6">
    <Picture src="/assets/avatar.jpeg" placeholder="dominantColor" attributes={{
      img:{
        class:"rounded-[35%]"
      }
    }}
    height={256}
    alt=""/>
  <!-- <img src="/assets/avatar.jpeg" class="max-h-32 rounded-[35%] max-w-full"> -->
  <div class="sm:pl-6 pt-3 sm:pt-0">
    <h1 class="font-medium text-2xl">Nikhil Henry</h2>
    <p class="text-lg">A self-taught developer and tech enthusiast skilled at exploring new frameworks and applying skills of problem solving and leadership to craft meaningful user experiences. </p>
  </div>
</div>
