<div class="flex justify-between align-middle  mx-auto my-6 max-w-5xl">
  <img src="/assets/avatar.jpeg" class="max-h-32 rounded-lg max-w-full">
  <div class="max-w-3xl">
    <h3>Nikhil Henry</h3>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
  </div>
</div>