---
const {title, subtitle, gradient} = Astro.props;
---
<div class={`h-80 flex flex-col items-center justify-center ${gradient}`}>
  <h2 class="text-4xl text-white py-1">{title}</h2>
  <h4 class="text-2xl text-white">{subtitle}</h4>
</div>