---
const {title, subtitle, gradient} = Astro.props;
---
<div class="h-80 bg-gradient-to-r from-cyan-500 to-blue-500 flex flex-col items-center justify-center">
  <h2 class="text-3xl text-white">{title}</h2>
  <h4 class="text-xl text-white">{subtitle}</h4>
</div>