---
const path = Astro.canonicalURL.pathname
const links = [{name:"Home",link:"/"},{name:"About",link:"/about"},{name:"Collections",link:"/collections"},{name:"Projects",link:"/projects"}]
---

<div class="navbar pt-6">
  <h1 class="text-3xl font-semibold tracking-wide">Nikhil Henry</h1>
  <div class="links py-6">
    <ul class="flex justify-between max-w-md">
      {links.map((l)=><li><a href={l.link} class={l.link === path ? 'font-bold':'font-normal'}>{l.name}</a></li>)}
    </ul>
  </div>
</div>