---
const path = Astro.canonicalURL.pathname
const links = [{name:"Home",link:"/"},{name:"About",link:"/about"},{name:"Collections",link:"/collections"},{name:"Projects",link:"/projects"}]
---

<div class="navbar pt-6">
  <h1 class="text-3xl font-semibold tracking-wide">Nikhil Henry</h1>
  <div class="links py-6">
    <ul class="flex max-w-md">
      {links.map((l)=><li class={l.link === path ? 'bg-slate-200 ':''}>
        <a class={l.link === path ? 'font-bold':'font-light'}
        href={l.link}>
        {l.name}
        </a>
        </li>
      )}
    </ul>
  </div>
</div>

<style>
  li{
  @apply px-4 py-1 rounded-md hover:bg-slate-200
  }
  a{
    @apply no-underline
  }
</style>