---
import CollectionPreview from "../../components/CollectionPreview.astro";
import Container from "../../components/Container.astro";
import Hero from "../../components/Hero.astro";
import PageLayout from "../../layouts/PageLayout.astro";

---
<PageLayout>
<Hero title="ðŸ› ï¸ Projects" gradient="bg-gradient-to-r from-sky-400 to-blue-500" subtitle="What I've been working on"/>
<Container>
<div class="py-3"></div>

</Container>
</PageLayout>
