---
import Container from '../components/Container.astro';
import PageLayout from './PageLayout.astro';
import HeroImage from '../components/HeroImage.astro';


const { content } = Astro.props;
const { title, subtitle, coverImg } = content;
---

<PageLayout>
  <HeroImage title={title} subtitle={subtitle} imgURL={coverImg}/>
  <Container>
  <div class="py-3"></div>
  </Container>
</PageLayout>