---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
// Layout Imports
import Navbar from "../components/Navbar.astro";

let title = 'Nikhil Henry';
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';
---
<html lang="en">
	<head>
		<BaseHead title={title} description={description} permalink={permalink} />
	</head>

	<body>
		<div class="container mx-auto px-4">
    	<Navbar/>
		</div>
		<div class="border-b-2 border-slate-300"></div>
    <div class="container mx-auto px-4 py-6 max-w-5xl">
      <slot/>
    </div>
	</body>
</html>