---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import Container from '../components/Container.astro';
// Layout Imports
import Navbar from "../components/Navbar.astro";

let title = 'Nikhil Henry';
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';
---
<html lang="en">
	<head>
		<BaseHead title={title} description={description} permalink={permalink} />
	</head>

	<body>
		<div class="bg-gray-50 dark:bg-gray-900 dark:text-white ">
			<div class="container mx-auto px-4">
				<Navbar/>
			</div>
			<div class="border-b-2 border-slate-300 dark:border-slate-600"></div>
			<Container>
				<slot/>
			</Container>
		</div>
	</body>
</html>